////////////////////////////////////////////////////////////////////
// Global Misc
////////////////////////////////////////////////////////////////////

// Light(grey) Backgrounds across the site (sidebars, certain section backgrounds, etc)

$bg_color: $color_lite_two;

// border bottoms across the site (list items like nav dropdown, pa directory items, video items etc)

$color_border_bottom: #eaeaea;

// global form placeholder input color

$form_input_placeholder_color: $color_dark_one;
