////////////////////////////////////////////////////////////////////
// Internal Banner
////////////////////////////////////////////////////////////////////

// .internal_banner_content .banner_title

$internal_banner_title_color: $color_lite_one;

$internal_banner_title_size: 50px;
$internal_banner_title_size_large_laptop: 36px;
$internal_banner_title_size_small_laptop: 31px;

$internal_banner_title_line_height: 55px;
$internal_banner_title_line_height_large_laptop: 42px;
$internal_banner_title_line_height_small_laptop: 36px;

// #internal_banner.banner_with_page_title h1.internal_header

$internal_banner_internal_header_color: $color_lite_one;
$internal_banner_internal_header_color_tablet: $color_dark_one;
