#pa_directory_wrapper {
  text-align: center;
  padding:30px 25px;
  ul {
    list-style: none;
    > li {
      @include type(
        (
          size: 27px,
          weight: 600,
          family: $secondaryfont,
          color: $color_dark_two,
        )
      );
      > a {
        display: block;
        &:before,
        &:after {
          content: "";
          display: inline-block;
          vertical-align: top;
          margin-top: 12px;
          background: $color_bright_one;
          transform: rotate(-45deg);
          @include box(7px);
        }
        &:before {
          margin-right: 35px;
        }
        &:after {
          margin-left: 35px;
        }
      }
    }
  }
}

#pa_directory_wrapper {
   div {
    border-top: 2px solid $color_lite_two;
    margin:35px 0 0;
    padding:35px 0 35px;
    ul.menu {
      li {
        @include type (
          (
            size: 17px,
            height: 20px,
            family: $primaryfont,
            color: $color_dark_one,
            weight: 400
          )
        );
        a {
          text-decoration: none;
          color: $color_dark_one;
          transition: all 150ms ease-in-out;
          padding-bottom:15px;
          &:before, &:after {
            display: none;
          }
          &:hover {
            color:$color_bright_one;
          }
        }
      }
    }
  }
}
