#section_two {
  background:$color_gradient_two;
  width:100%;
  @include mq(small_tablet) {
    padding:0 27px;
  }
}

#sec_two_inner {
  padding: 32px 25px 25px;
  @include mq(small_tablet) {
    padding: 25px 0px 31px;
    margin:0 auto;
    max-width: 688px;
    @include flex(null,center);
  }
  @include mq(small_laptop) {
    max-width: 100%;
    padding: 36px 0px 41px;
  }
  @include mq(large_laptop) {
    padding: 42px 0px 42px;
  }
}


#sec_two_arrow_right {
  transform: rotate(-180deg);
}

.sec_two_arrow {
  cursor: pointer;
  display:none;
  @include box(15px,31px);
  @include mq(small_tablet) {
    display:inline-block;
  }
  @include mq(small_laptop) {
    display:none;
  }
}


#sec_two_slider {
  max-width: 380px;
  margin:0 auto;
  padding:0px;
  @include mq(small_tablet) {
    max-width:100%;
    padding:0 40px;
  }
  @include mq(small_laptop) {
    padding:0;
    width: 100%;
    @include flex(space-between,null);
  }
  .slick-slide {
    margin: 0 10px;
    padding:10px 0;
  }
  .slick-list {
    margin: 0 -10px;
  }
  .slick-dots {
    position:static;
    margin-top: 25px;
    li.slick-active {
      button {
        &:before {
          color:$color_bright_two;
        }
      }
    }
    li:hover {
      button {
        &:before {
          color:$color_bright_two;
        }
      }
    }
    li {
      margin:0 3px;     
      width:18px;
      button {      
      width:18px;
        &:before {      
          width:18px;
          opacity:1;
          color:$color_lite_one;
          font-size:24px;
        }
      }
    }
  }
}

.sec_two_single_slide {
  box-shadow: 0px 1px 9px #030E14CC;
  background: $color_bright_two;
  text-align: center;
  padding:25px 10px;
  @include mq(small_tablet) {
    height:294px;
    background: transparent;
    box-shadow:none;
    padding: 30px 10px 25px;
    transition:all 150ms ease-in-out;
  }
  @include mq(small_laptop) {
    flex-basis:25%;
    height: auto;
    padding: 40px 10px 0;
  }
  @include mq(large_laptop) {
    padding: 50px 10px 0;
  }
  @include mq(small_monitor) {
    padding: 60px 10px 0;
  }
  &:hover {
    @include mq(small_tablet) {
      background: $color_bright_two;
      box-shadow: 0px 1px 9px #030E14CC;
      span.sec_two_slide_title {
        &:after {
          background: #fff;
        }
      }
    }
    @include mq(small_laptop) {
      box-shadow: 0px 1px 50px #030E14CC;
    }
  }
  svg {
    @include box(95px);
    @include mq(small_tablet) {
     @include box(80px);
    }
    @include mq(small_laptop) {
      @include box(75px);
    }
    @include mq(large_laptop) {
      @include box(90px);
    }
    @include mq(small_monitor) {
      @include box(107px);
    }
  }
  span.sec_two_slide_title {
    display: block;
    max-width: 230px;
    margin:0 auto;
    @include type (
      (
        size: 22px,
        height: 30px,
        family: $secondaryfont,
        color: $color_lite_one 
      )
    );
    @include mq(small_tablet) {
      margin: 16px auto 0;
      @include quick_type(22px,30px,null);
    }
    @include mq(small_laptop) {
      max-width: 245px;
      margin-top: 24px;
    }
    @include mq(large_laptop) {
      margin-top: 19px;
    }
    @include mq(small_monitor) {
      margin-top:24px;
      @include quick_type(26px,35px,null);
    }
    &:after {
      content:'';
      display: block;
      margin:25px auto 10px;
      transform:rotate(-45deg);
      background:#fff;
      @include box(6px);
      @include mq(small_tablet) {
        margin: 30px auto 10px;
        background: $color_bright_one;
        transition:all 150ms #fff;
        @include box(8px);
      }
      @include mq(small_laptop) {
        margin: 21px auto 34px;
        @include box(6px);
      }
      @include mq(large_laptop) {
        margin: 33px auto 40px;
        @include box(7px);
      }
      @include mq(small_monitor) {
        margin: 33px auto 65px;
        @include box(8px);
      }
    }
  }
}


// hacky code, each box has differnces

.sec_two_single_slide {
  &.two {
    svg {
      @include mq(small_tablet) {
        margin-top: -8px;
        @include box(100px);
      }
      @include mq(small_laptop) {
        @include box(95px);
      }
      @include mq(large_laptop) {
        @include box(109px);
      }
      @include mq(small_monitor) {
        @include box(125px);
      }
    }
    span.sec_two_slide_title {
      @include mq(small_tablet) {
        margin-top:5px;
      }
      @include mq(small_laptop) {
        max-width: 215px;
        margin-top:13px;
      }
      @include mq(large_laptop) {
        margin-top: 21px;
      }
      @include mq(small_monitor) {
        margin-top: 15px;
        max-width: 245px;
      }
    }
  }
  &.three {
    span.sec_two_slide_title {
      @include mq(small_tablet) {
        max-width: 245px;
      }
      @include mq(small_monitor) {
        max-width: 295px;
      }
    }
  }
  &.four {
    span.sec_two_slide_title {
      @include mq(small_laptop) {
        max-width: 215px;
      }
      @include mq(small_monitor) {
        max-width: 235px;
      }
    }
  }
}