#section_two {
  background:$color_gradient_two;
  width:100%;
  @include mq(small_tablet) {
    padding:0 27px;
  }
}

#sec_two_inner {
  padding: 32px 25px 25px;
  @include mq(small_tablet) {
    padding: 25px 0px 31px;
    margin:0 auto;
    max-width: 688px;
    @include flex(center,center);
  }
}


#sec_two_arrow_right {
  transform: rotate(-180deg);
}

.sec_two_arrow {
  cursor: pointer;
  @include box(15px,31px);
}


#sec_two_slider {
  max-width: 380px;
  margin:0 auto;
  padding:0 40px;
  @include mq(small_tablet) {
    max-width:100%;
  }
  .slick-slide {
    margin: 0 10px;
    padding:10px 0;
  }
  .slick-list {
    margin: 0 -10px;
  }
  .slick-dots {
    position:static;
    margin-top: 25px;
    li.slick-active {
      button {
        &:before {
          color:$color_bright_two;
        }
      }
    }
    li:hover {
      button {
        &:before {
          color:$color_bright_two;
        }
      }
    }
    li {
      margin:0 3px;     
      width:18px;
      button {      
      width:18px;
        &:before {      
          width:18px;
          opacity:1;
          color:$color_lite_one;
          font-size:24px;
        }
      }
    }
  }
}

.sec_two_single_slide {
  box-shadow: 0px 1px 9px #030E14CC;
  background: $color_bright_two;
  text-align: center;
  padding:25px 10px;
  @include mq(small_tablet) {
    height:294px;
    background: transparent;
    box-shadow:none;
    transition:all 150ms ease-in-out;
  }
  &:hover {
    @include mq(small_tablet) {
      background: $color_bright_two;
      box-shadow: 0px 1px 9px #030E14CC;
      span.sec_two_slide_title {
        &:after {
          background: #fff;
        }
      }
    }
  }
  svg {
    //@include box(95px);
    @include mq(small_tablet) {
     // @include box(107px);
    }
  }
  span.sec_two_slide_title {
    display: block;
    max-width: 230px;
    margin:0 auto;
    @include type (
      (
        size: 22px,
        height: 30px,
        family: $secondaryfont,
        color: $color_lite_one 
      )
    );
    @include mq(small_tablet) {
      @include quick_type(22px,30px,null);
    }
    &:after {
      content:'';
      display: block;
      margin:25px auto 10px;
      transform:rotate(-45deg);
      background:#fff;
      @include box(6px);
      @include mq(small_tablet) {
        margin: 30px auto 10px;
        background: $color_bright_one;
        transition:all 150ms #fff;
        @include box(8px);
      }
    }
  }
}