////////////////////////////////////////////////////////////////////
// Media Queries
////////////////////////////////////////////////////////////////////

// $xxxlarge_monitor: 2000px;
// $xxlarge_monitor: 1930px;
// $xlarge_monitor: 1860px;
// $large_monitor: 1600px;

// $large_laptop: 1450px;
// $small_laptop: 1380px;
// $xsmall_laptop: 1270px;

// $tablet: 1170px;
// $small_tablet: 1066px;
// $xsmall_tablet: 975px;

// $xlarge_mobile: 767px;
// $large_mobile: 650px;
// $small_mobile: 430px;
// $xsmall_mobile: 410px;

// $internal_xlarge_monitor: 1760px;

$small_tablet: 768px;
$small_laptop: 1170px;
$large_laptop: 1380px;
$small_monitor: 1695px;