////////////////////////////////////////////////////////////////////
// Case Results Page
////////////////////////////////////////////////////////////////////

// .cr_row

$cr_row_bg_color_xlarge_mobile: $color_lite_one;

// .cr_row .cr_inner_row .single_cr span.cr_amount

$cr_amount_color: $color_bright_one;

$cr_amount_size: 55px;
$cr_amount_size_large_laptop: 47px;
$cr_amount_size_small_laptop: 43px;
$cr_amount_size_xlarge_mobile: 32px;

// .cr_row .cr_inner_row .single_cr span.cr_type

$cr_type_weight: 700;

$cr_type_size: 20px;
$cr_type_size_large_laptop: 18px;
$cr_type_size_small_laptop: 17px;
$cr_amount_size_xsmall_tablet: 16px;

$cr_type_line_height: 26px;
$cr_type_line_height_large_laptop: 22px;
$cr_type_line_height_small_laptop: 20px;
$cr_type_line_height_xsmall_tablet: 18px;

// .cr_row .cr_inner_row .single_cr span.cr_description

$cr_description_color: $color_dark_one;

$cr_description_weight: 500;

$cr_description_size: 18px;
$cr_description_size_large_laptop: 16px;

$cr_decription_line_height: 30px;
$cr_decription_line_height_large_laptop: 27px;

// .cr_row .cr_inner_row .single_cr a.cr_read_more

$cr_read_more_color: $color_bright_one;
$cr_read_more_color_hover: $color_dark_three;

$cr_read_more_weight: 700;

$cr_read_more_size: 18px;
$cr_read_more_size_xlarge_mobile: 16px;
