////////////////////////////////////////////////////////////////////
// Sidebar
////////////////////////////////////////////////////////////////////

// .sidebar_box h3

$sidebar_header_h3_color: $color_dark_three;

$sidebar_header_h3_line_weight: 700;

$sidebar_header_h3_size: 18px;
$sidebar_header_h3_size_large_laptop: 16px;
$sidebar_header_h3_size_small_laptop: 14px;

$sidebar_header_h3_line_height: 30px;
$sidebar_header_h3_line_height_large_laptop: 30px;
$sidebar_header_h3_line_height_small_laptop: 20px;

$sidebar_header_h3_spacing: 1.8px;

// .sidebar_box ul li

$sidebar_list_size: 17px;
$sidebar_list_size_large_laptop: 15px;
$sidebar_list_size_small_laptop: 14px;

$sidebar_list_line_height: 24px;
$sidebar_list_line_height_large_laptop: 22px;
$sidebar_list_line_height_small_laptop: 20px;

// .sidebar_box ul li a

$sidebar_list_color: $color_dark_one;
$sidebar_list_color_hover: $color_bright_one;

// .sidebar_box ul li.active a

$sidebar_active_list_color: $color_bright_one;

// .sidebar_box ul li.current-menu-item a

$sidebar_current_list_color: $color_bright_one;

// .sidebar_box ul li.menu-item-has-children a:after

$sidebar_list_tri_color: $color_dark_one;

// .sidebar_box ul li.menu-item-has-children a.active

$sidebar_active_list_parent_color: $color_bright_one;

// .sidebar_box ul li.menu-item-has-children a.active:after

$sidebar_active_list_parent_tri_color: $sidebar_active_list_parent_color;

// .sidebar_box ul li.current-menu-ancestor a

$sidebar_current_list_parent_color: $color_bright_one;

// .sidebar_box ul li.current-menu-ancestor a:after

$sidebar_current_list_parent_tri_color: $color_bright_one;

// .sidebar_box ul>li.current-menu-ancestor>ul.sub-menu

$sidebar_submenu_bg_color: $color_lite_one;

$sidebar_submenu_bordertop_color: $color_bright_one;
