////////////////////////////////////////////////////////////////////
// Video Center Page
////////////////////////////////////////////////////////////////////

// .video_wrapper .single_video span.video_title

$single_video_title_color: $color_dark_one;
$single_video_title_color_hover: $color_bright_one;

$single_video_title_size: 23px;
$single_video_title_size_small_tablet: 20px;

$single_video_title_line_height: 25px;
$single_video_title_line_height_tablet: 23px;
