#internal_att_banner {
  position: relative;
  padding: 50px 25px 110px;
  text-align: center;
  @include mq(small_laptop) {
    padding: 80px 0px 110px;
  }
}

#internal_att_banner_content {
  position: relative;
  z-index: 1;
  @include mq(small_laptop) {
    @include flex();
    padding-left:100px;
    padding-right:100px;
  }
}

#banner_spacer {
  @include mq(small_laptop) {
    flex-basis: 380px;
    flex-shrink: 0;
  }
}

#banner_right {
  flex-grow: 1;
  @include mq(small_laptop) {
    text-align:left;
    margin-left:70px;
  }
}


h1#att_title {
  @include type(
    (
      size: 36px,
      height: 42px,
      family: $secondaryfont,
      color: $color_lite_one,
      weight: 700,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(60px, 70px, null);
  }
}

span#att_position {
  display: block;
  margin-top: 6px;
  @include type(
    (
      size: 14px,
      spacing: 2px,
      height: 24px,
      family: $primaryfont,
      color: $color_lite_one,
      weight: 800,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    font-size: 19px;
    margin-top: 16px;
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    transform: rotate(-45deg);
    background: $color_bright_one;
    margin: 7px 8px 0 0px;
    @include box(8px);
    @include mq(small_tablet) {
      margin: 9px 8px 0 0px;
    }
  }
}

#sidebar_bio_wrapper {
  max-width: 420px;
  margin: -115px auto 50px;
  @include mq(small_laptop) {
    max-width: 100%;
    flex-basis: 380px;
    flex-shrink: 0;
    margin-right: 70px;
    margin-top: -265px;
  }
}

#sidebar_att_box {
  box-shadow: 0px 1px 40px #00000080;
  background: $color_lite_one;
  padding: 25px;
}

#att_image_wrapper {
  margin-bottom: 20px;
  img {
    @include image();
  }
}

#att_bio_lists {
  @include mq(small_laptop) {
    padding:0 25px;
  }
  h3 {
  }
}

