////////////////////////////////////////////////////////////////////
// Section Six
////////////////////////////////////////////////////////////////////

// .sec_six_left .sec_six_left_inner span

$sec_six_left_title_color: $color_lite_one;

$sec_six_left_title_size: 60px;
$sec_six_left_title_size_large_laptop: 55px;
$sec_six_left_title_size_small_laptop: 48px;
$sec_six_left_title_size_xlarge_mobile: 44px;

$sec_six_left_title_line_height: 64px;
$sec_six_left_title_line_height_large_laptop: 60px;
$sec_six_left_title_line_height_small_laptop: 52px;
$sec_six_left_title_line_height_tablet: 56px;
$sec_six_left_title_line_height_xlarge_mobile: 48px;

// .sec_six_right ul li

$sec_six_list_item_color: $color_dark_one;
$sec_six_list_item_color_hover: $color_dark_one;

$sec_six_list_item_size: 24px;
$sec_six_list_item_size_large_monitor: 21px;
$sec_six_list_item_size_large_laptop: 20px;
$sec_six_list_item_size_small_laptop: 18px;
$sec_six_list_item_size_xsmall_tablet: 17px;
$sec_six_list_item_size_large_mobile: 18px;

$sec_six_list_item_line_height: 25px;
$sec_six_list_item_line_height_large_monitor: 24px;
$sec_six_list_item_line_height_xsmall_tablet: 22px;

$sec_six_list_item_spacing: 0.6px;
