
.loc_col {
  margin-bottom:70px;
  &:nth-of-type(2), &:nth-of-type(3) {
    span.locations_title {
      &:after {
        content:"";
        display: block;
        background:$color_bright_two;
        margin:25px auto 22px;
        @include box(74px,2px);
      }
    }
  }
  &:last-of-type {
    margin-bottom:0px;
  }
}



.loc_row {
  &:after {
    content: "";
    display: block;
    width: 168px;
    height: 2px;
    background: $color_bright_two;
    margin: 25px auto 35px;
  }
  &:last-of-type {
    &:after {
      display: none;
    }
  }
}

span.locations_title {
  display: block;
  @include type(
    (
      size: 18px,
      spacing: 1.62px,
      family: $secondaryfont,
      color: $color_lite_one,
      weight: 700,
      transform: lowercase,
    )
  );
}

a.locations_phone {
  display: inline-block;
  margin-top: 8px;
  @include type(
    (
      size: 25px,
      spacing: 2.25px,
      family: $primaryfont,
      color: $color_lite_one,
      weight: 700,
    )
  );
}

span.locations_address {
  display:block;
  @include type (
    (
      size: 18px,
      spacing: 1.62px,
      height: 22px,
      family: $primaryfont,
      color: $color_lite_one,
      weight: 700
    )
  );
}


a.get_directions {
  display: inline-block;
  margin-top:27px;
  border-radius: 6px;
  padding:10px 13px;
  border:2px solid $color_bright_two;
  transition: all 150ms ease-in-out;
  @include type (
    (
      size: 13px,
      spacing: 2.6px,
      family: $primaryfont,
      color: $color_lite_one,
      weight: 700,
      transform: uppercase
    )
  );
  &:hover {
    background:$color_bright_two;
  }
}