.locations {
  max-width: 310px;
  padding-bottom: 55px;
  @include margin_lr;
  @include mq(small_tablet) {
    padding-bottom: 48px;
    max-width: 100%;
  }
  @include mq(small_laptop) {
    padding-bottom: 5px;
    @include flex(space-between);
  }
  @include mq(large_laptop) {
    padding-bottom: 35px;
  }
  @include mq(small_monitor) {
    max-width:1510px;
    @include margin_lr;
  }
}

.loc_col {
  margin-bottom: 70px;
  span, a {
    color:$color_lite_one;
  }
  &:nth-of-type(1) {
    order: 2;
    margin-top: 35px;
    flex-basis: 324px;
    span.locations_title {
      position: relative;
      top:-2px;
    }
  }
  &:nth-of-type(2) {
    order: 1;
  }
  &:nth-of-type(3) {
    order: 3;
    margin-top: 25px;
  }
  &:nth-of-type(2),
  &:nth-of-type(3) {
    span.locations_title {
      &:after {
        content: "";
        display: block;
        background: $color_bright_two;
        margin: 25px auto 22px;
        @include box(74px, 2px);
      }
    }
  }
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.loc_row {
  @include mq(small_laptop) {
    margin-bottom: 34px;
    @include flex(space-between, flex-end);
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

span.loc_row_divider {
  display: block;
  width: 168px;
  height: 2px;
  background: $color_bright_two;
  margin: 25px auto 27px;
  @include mq(small_laptop) {
    width: 100%;
  }
}

span.locations_title {
  display: block;
  @include type(
    (
      size: 18px,
      spacing: 1.62px,
      family: $secondaryfont,
      weight: 700,
      transform: lowercase,
    )
  );
}

a.locations_phone {
  display: inline-block;
  margin-top: 8px;
  transition: all 150ms ease-in-out;
  @include type(
    (
      size: 25px,
      spacing: 2.25px,
      family: $primaryfont,
      weight: 700,
    )
  );
  &:hover {
    color:$color_bright_two;
  }
}

span.locations_address {
  display: block;
  @include type(
    (
      size: 18px,
      spacing: 1.62px,
      height: 22px,
      family: $primaryfont,
      weight: 700,
    )
  );
  @include mq(large_laptop) {
    @include quick_type(20px,25px,1.8px);
  }
}

a.get_directions {
  display: inline-block;
  margin-top: 27px;
  border-radius: 6px;
  padding: 10px 13px;
  border: 2px solid $color_bright_two;
  transition: all 150ms ease-in-out;
  @include type(
    (
      size: 13px,
      spacing: 2.6px,
      family: $primaryfont,
      weight: 700,
      transform: uppercase,
    )
  );
  &:hover {
    background: $color_bright_two;
  }
}

.social_media {
  margin-top:35px;
  a {
    text-decoration: none;
    margin:0 2px;
    svg {
      @include mq(small_laptop) {
        @include box(63px);
      }
      path {
        fill: $color_dark_one;
      }
    }
    &:hover {
      svg {
        path {
          fill: $color_bright_one;
          transition: all 150ms ease-in-out;
        }
      }
    }
  }
}
