// navigation - refer to the resize functions in js->custom-min.js

nav {
  background: $color_gradient_two;
  padding: 16px 0px;
  overflow-y: scroll;
  display: none;
  -webkit-overflow-scrolling: touch;
  @include box(100%);
  @include fixed(122px, null, null, 0);
  @include mq(small_tablet) {
    top: 80px;
    padding: 27px 0;
  }
  @include mq(small_laptop) {
    display: block;
    background: transparent;
    position: static;
    padding: 4px 0 0px 0;
    overflow-y: initial;
  }
  @include mq(large_laptop) {
    order: 1;
    padding: 9px 0 0px 0;
  }
  @include mq(small_monitor) {
    margin-right: 30px;
    padding: 44px 0 0px 0;
  }
}

nav {
  ul {
    list-style: none;
    li {
      font-family: $primaryfont;
      a {
        padding: 0 40px;
        display: block;
        color: $color_lite_one;
        text-decoration: none;
      }
    }
  }
}

nav {
  ul.menu {
    padding-bottom: 200px;
    @include mq(small_laptop) {
      padding-bottom: 0;
      @include flex(flex-end);
    }
    > li {
      @include type(
        (
          size: 15px,
          height: 17px,
          spacing: 1.5px,
          weight: 800,
          transform: uppercase,
        )
      );
      @include mq(small_laptop) {
        margin-left: 14px;
        @include quick_type(12px, 15px, 1.2px);
        &:nth-last-of-type(-n + 3) {
          ul.sub-menu {
            left: auto;
            right: 0;
          }
        }
      }
      @include mq(large_laptop) {
        margin-left: 18px;
        @include quick_type(14px, 16px, 1.4px);
      }
      @include mq(small_monitor) {
        margin-left: 22px;
        @include quick_type(15px, 17px, 1.5px);
      }
      > a {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        background: transparent;
        transition: background 150ms ease-in-out;
        @include mq(small_laptop) {
          color: $color_dark_three;
          padding: 0;
          transition: all 150ms ease-in-out;
        }
        &:hover {
          @include mq(small_laptop) {
            color: $color_bright_two;
          }
        }
        &.active {
          box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.3);
          background: $color_bright_two;
        }
      }
    }
    > li.menu-item-has-children {
      @include mq(small_laptop) {
        position: relative;
        padding-bottom: 28px;
        &:hover {
          ul.sub-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @include mq(large_laptop) {
        padding-bottom: 32px;
      }
      @include mq(small_monitor) {
        padding-bottom: 64px;
      }
      > a {
        &:after {
          content: "";
          vertical-align: top;
          display: inline-block;
          margin: 5px 0 0 5px;
          @include tri(down, 4px, 6px, $color_lite_one);
          @include mq(small_laptop) {
            margin: 5px 0 0 3px;
            transition: all 150ms ease-in-out;
            @include tri(down, 4px, 6px, $color_dark_one);
          }
        }
        &:hover {
          &:after {
            @include mq(small_laptop) {
              @include tri(down, 4px, 6px, $color_bright_two);
            }
          }
        }
      }
    }
    > li.current-menu-ancestor {
      > a {
        @include mq(small_laptop) {
          background: transparent;
          box-shadow: none;
          color: $color_bright_two;
        }
        &:after {
          @include tri(down, 4px, 6px, $color_lite_one);
          @include mq(small_laptop) {
             @include tri(down, 4px, 6px, $color_bright_two);
          }
        }
      }
      ul.sub-menu {
        display: block;
      }
    }
    > li.current-menu-item {
      > a {
        @include mq(small_laptop) {
          background: transparent;
          box-shadow: none;
          color: $color_bright_two;
        }
      }
    }
  }
}

nav {
  ul.sub-menu {
    display: none;
    padding: 10px 0 0 0;
    @include mq(small_laptop) {
      display: block;
      width: 291px;
      background: $color_gradient_two;
      padding:17px 0;
      opacity: 0;
      visibility: hidden;
      transition: all 150ms ease-in-out;
      @include abs(43px, null, null, 0);
    }
    @include mq(large_laptop) {
      top: 48px;
      width:375px;
      padding:29px 0;
    }
    @include mq(small_monitor) {
      top: 81px;
      padding: 27px 0;
    }
    li {
      @include type(
        (
          size: 16px,
          height: 18px,
          transform: capitalize,
        )
      );
      @include mq(small_laptop) {
        @include type(
          (
            size: 14px,
            height: 16px,
            weight: 400,
          )
        );
      }
      @include mq(large_laptop) {
        @include quick_type(17px,19px,0);
      }
      @include mq(small_monitor) {
        @include quick_type(18px,20px,0);
      }
      &:last-of-type {
        a {
          padding-bottom: 20px;
        }
      }
      a {
        padding-top: 15px;
        padding-bottom: 15px;
        @include mq(small_laptop) {
          background: transparent;
          transition: all 150ms ease-in-out;
          padding: 15px 29px;
        }
        @include mq(large_laptop) {
          padding: 19px 40px;
        }
        &:hover {
          color: $color_bright_two;
          @include mq(small_laptop) {
            box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.3);
            background: $color_bright_two;
            color: $color_lite_one;
          }
        }
      }
    }
    li.current-menu-item {
      a {
        &:after {
          content: "";
          vertical-align: top;
          display: inline-block;
          margin: 6px 2px 0 6px;
          transform: rotate(-45deg);
          background-color: $color_bright_one;
          @include box(6px);
        }
      }
    }
  }
}
