////////////////////////////////////////////////////////////////////
// Not Found
////////////////////////////////////////////////////////////////////

// span.error

$not_found_error_color: $color_bright_one;

$not_found_error_weight: 700;

$not_found_error_size: 24px;
