////////////////////////////////////////////////////////////////////
// About Page
////////////////////////////////////////////////////////////////////

// h1.about_header

$about_header_size: 48px;
$about_header_size_small_laptop: 40px;
$about_header_size_tablet: 36px;
$about_header_xlarge_mobile: 29px;

$about_header_line_height: 50px;
$about_header_line_height_large_laptop: 50px;
$about_header_line_height_small_laptop: 45px;
$about_header_line_height_tablet: 40px;
$about_header_line_height_xlarge_mobile: 32px;

// .about_left_intro

$about_intro_color: $color_dark_three;

$about_intro_weight: 700;

$about_intro_size: 20px;
$about_intro_size_large_laptop: 18px;
$about_intro_size_small_laptop: 17px;

$about_intro_line_height: 35px;
$about_intro_line_height_large_laptop: 30px;
$about_intro_line_height_small_laptop: 28px;

// .about_bottom_inner.content blockquote

$about_blockquote_size: 33px;
$about_blockquote_size_large_laptop: 25px;
$about_blockquote_size_small_laptop: 22px;

$about_blockquote_line_height: 42px;
$about_blockquote_line_height_large_laptop: 35px;
$about_blockquote_line_height_small_laptop: 32px;
$about_blockquote_line_height_xlarge_mobile: 30px;
