////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

// Primary

$color_dark_one: #0F3447;
$color_dark_two: #016171;


// Secondary

$color_bright_one: #016171;


// Light

$color_lite_one: #fff;
$color_lite_two: #f6f7fb;
