header {
  background-color: $color_lite_one;
  width: 100%;
  @include fixed(0, null, null, 0, 10);
  @include mq(small_laptop) {
    position: static;
  }
  #header_inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    @include margin_lr;
    @include mq(small_tablet) {
      flex-wrap:unset;
    }
  }
}

#header_left {
  flex-grow: 1;
  padding: 10px 15px;
  @include mq(small_tablet) {
    flex-basis:100%;
    max-width:230px;
    order:1;
  }
  @include mq(small_laptop) {
    max-width: 275px;
    padding: 16px 15px 0;
  }
  @include mq(large_laptop) {
    max-width: 345px;
    padding: 16px 21px 0;
  }
  @include mq(small_monitor) {
    padding: 29px 21px 0;
  }
  a.logo {
    svg {
      max-width: 200px;
      width: 100%;
      @include mq(small_laptop) {
        max-width:100%;
      }
      @include mq(large_laptop) {
        max-width:330px;
      }
    }
  }
}

#header_middle {
  flex-basis: 60px;
  position: relative;
  background-color: $color_dark_two;
  @include mq(small_tablet) {
    order:3;
    flex-basis:79px;
    flex-shrink:0;
  }@include mq(small_laptop) {
    display:none;
  }
}

.menu_wrapper {
  @include box(100%);
  @include abs(0, null, null, 0);
  > div {
    color: $color_lite_one;
    @include flex(center, center);
    @include box(100%);
    @include abs(0, null, null, 0);
  }
  .menu_verbiage {
    @include type(
      (
        size: 11px,
        family: $primaryfont,
        weight: 800,
        transform: uppercase,
      )
    );
  }
}

.menu_bars {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  @include flex(center, center, column);
  .menu_bars_inner {
    span {
      display: block;
      background-color: $color_lite_one;
      margin-bottom: 6px;
      @include box(33px, 4px);
    }
  }
}

.menu_close {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  @include flex(center, center, column);
  .menu_close_x {
    position: relative;
    margin-bottom: 1px;
    @include box(30px);
    &:before,
    &:after {
      content: "";
      display: block;
      background-color: $color_lite_one;
      @include abs(12px, null, null, -2px);
      @include box(33px, 4px);
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.menu_bars.close,
.menu_close.close {
  opacity: 0;
}

#header_right {
  flex-basis: 100%;
  background-color: $color_dark_one;
  padding: 12px 0px;
  @include mq(small_tablet) {
    order:2;
    background-color: $color_lite_one;
    flex-grow:1;
    margin-right: 20px;
    padding:0;
    flex-basis:auto;
  }
  @include mq(small_laptop) {
    margin-right: 33px;
    padding: 18px 0 0 0;
  }
  @include mq(small_monitor) {
    margin-right: 35px;
    @include flex();
  }
  #header_right_inner {
    width: 100%;
    color: $color_lite_one;
    @include flex(center, center);
    @include mq(small_tablet) {
      flex-direction: column;
      align-items: flex-end;
      margin-top: 19px;
    }
    @include mq(small_laptop) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-top: 12px;
    }
    @include mq(large_laptop) {
      flex-direction:row;
      justify-content: flex-end;
      align-items: center;
    }
    @include mq(small_monitor) {
      justify-content: unset;
      width:auto;
      flex-shrink:0;
      order:2;
      flex-direction: column;
      padding-left: 30px;
      margin-top: 22px;
      padding-top: 6px;
      align-items: flex-end;
      position: relative;
      &:after {
        content:"";
        display: block;
        background: $color_dark_one;
        @include abs(0,null,null,0);
        @include box(4px,72px);
      }
    }
  }
}

.consult_cta {
  margin-top: 2px;
  @include mq(small_tablet) {
    order:2;
    margin-top:2px;
  }
  @include mq(small_laptop) {
    order:1;
    margin-top:0;
  }
  @include mq(small_monitor) {
    order:2;
    margin-top: 5px;
  }
  > span {
    @include type(
      (
        size: 14px,
        family: $primaryfont,
        color: $color_lite_one,
      )
    );
    @include mq(small_tablet) {
      color:$color_dark_one;
    }
    @include mq(small_laptop) {
      font-size: 16px;
    }
    @include mq(large_laptop) {
      font-size: 16px;
    }
    @include mq(small_monitor) {
      font-size: 17px;
    }
    &:first-of-type {
      &:after {
        content: "";
        vertical-align: top;
        display: inline-block;
        margin: 6px 2px 0 6px;
        transform: rotate(-45deg);
        background-color: $color_bright_one;
        @include box(5px);
        @include mq(small_tablet) {
          margin: 6px 7px 0 12px;
        }
        @include mq(small_monitor) {
          @include box(7px);
        }
      }
    }
  }
}

span.hide {
  display: none;
  @include mq(small_tablet) {
    display:inline-block;
  }
}

a#header_phone {
  display: inline-block;
  margin: 0 0px 0 4px;
  @include type(
    (
      size: 18px,
      spacing: 1.6px,
      family: $primaryfont,
      color: $color_lite_one,
      weight: 800,
    )
  );
  @include mq(small_tablet) {
    color:$color_bright_one;
    font-size: 22px;
    letter-spacing: 1.98px;
    order:1;
    margin-bottom:5px;
    margin-right:-3px;
  }
  @include mq(small_laptop) {
    order:2;
    margin-left:15px;
    font-size: 23px;
  }
  @include mq(large_laptop) {
    font-size: 27px;
   
  }
  @include mq(small_monitor) {
    order:1;
    font-size: 30px;
  }
}
