////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////

// .header_top

$header_top_bg_color: $color_lite_one;

// .header_right

$header_right_bg_color: $color_lite_one;

// .free_consultaton_phone span

$free_consultaton_phone_span_color: $color_dark_one;

$free_consultaton_phone_span_weight: 400;

$free_consultaton_phone_span_size: 22px;
$free_consultaton_phone_span_size_large_laptop: 19px;
$free_consultaton_phone_span_size_small_laptop: 16px;
$free_consultaton_phone_span_size_xlarge_mobile: 13px;

$free_consultaton_phone_span_spacing: 0.055em;
$free_consultaton_phone_span_spacing_xlarge_mobile: 0.025em;

// .free_consultaton_phone span:after

$free_consultaton_phone_span_bullet_color: $color_bright_one;

// .free_consultaton_phone a.phone

$free_consultaton_phone_ahref_color: $color_dark_one;

$free_consultaton_phone_href_weight: 700;

$free_consultaton_phone_href_size: 35px;
$free_consultaton_phone_href_size_large_laptop: 26px;
$free_consultaton_phone_href_size_small_laptop: 22px;
$free_consultaton_phone_href_size_tablet: 26px;
$free_consultaton_phone_href_size_xlarge_mobile: 21px;
$free_consultaton_phone_href_size_xsmall_mobile: 16px;

// .mobile_logo a

$mobile_top_bar_bg_color: $color_dark_one;
