footer {
  text-align: center;
}


#footer_form_wrapper {
  background: $color_lite_two;
}

#footer_form_inner {
  padding-bottom:150px;
  @include mq(small_tablet) {
    padding-bottom:180px;
  }
  @include mq(small_laptop) {
    padding: 0 75px 120px;
    @include flex(space-between);
  }
  @include mq(large_laptop) {
    padding: 0 100px 135px;
  }
  @include mq(small_monitor) {
    padding: 0 180px 120px;
    max-width:1920px;
    @include margin_lr;
  }
}



#footer_form_left {
  padding: 55px 25px 0px;
  max-width: 580px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 700px;
    padding: 92px 25px 0px;
  }
  @include mq(small_laptop) {
    text-align: left;
    margin:0;
    padding: 111px 70px 0px 0;
  }
  @include mq(large_laptop) {
    padding: 126px 70px 0px 0;
  }
  @include mq(small_monitor) {
    padding: 156px 25px 150px;
  }
}

span#footer_form_title {
  display: block;
  @include type(
    (
      size: 36px,
      spacing: 0.9px,
      height: 42px,
      family: $secondaryfont,
      color: $color_dark_one,
      weight: 700,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(60px, 70px, null);
  }
  @include mq(small_laptop) {
    @include quick_type(60px, 65px, null);
  }
  @include mq(large_laptop) {
    @include quick_type(70px, 70px, null);
  }
  @include mq(small_monitor) {
    @include quick_type(80px, 80px, null);
  }
  &:after {
    content: "";
    display: block;
    background: $color_bright_one;
    margin-top: 25px;
    @include box(100%, 2px);
    @include mq(small_laptop) {
      margin-top: 36px;
      width: 228px;
    }
    @include mq(large_laptop) {
      margin-top: 49px;
    }
    @include mq(small_monitor) {
      margin-top: 55px;
    }
  }
  br {
    display: none;
    @include mq(small_tablet) {
      display: inline-block;
    }
    @include mq(small_laptop) {
      display: none;
    }
    @include mq(large_laptop) {
      
    }
  }
}

#footer_desc {
  margin: 25px 0 0;
  @include type(
    (
      size: 18px,
      height: 28px,
      family: $primaryfont,
      color: $color_dark_two,
    )
  );
  @include mq(small_tablet) {
    margin: 31px auto 0;
    @include quick_type(22px, 30px, 0px);
  }
  @include mq(small_laptop) {
    @include quick_type(20px, 30px, 0px);
  }
  @include mq(large_laptop) {
    margin: 42px auto 0;
    @include quick_type(22px, 30px, 0px);
  }
  a {
    color: $color_dark_two;
    text-decoration: none;
    font-weight: 800;
  }
  p {
    margin-bottom: 25px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

span#schedule {
  display: block;
  margin-top: 35px;
  @include type(
    (
      size: 16px,
      spacing: 1.44px,
      height: 25px,
      family: $primaryfont,
      color: $color_bright_one,
      weight: 800,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    margin-top: 65px;
  }
  @include mq(small_laptop) {
    margin-top: 28px;
  }
  @include mq(large_laptop) {
    margin-top: 34px;
  }
}

span#required {
  display: block;
  margin-top: -98px;
  @include mq(small_tablet) {
    margin-top: -89px;
  }
  @include mq(small_laptop) {
    margin-top: -3px;
  }
  @include mq(large_laptop) {
    margin-top: 8px;
  }
  @include type(
    (
      size: 13px,
      spacing: 2.6px,
      family: $primaryfont,
      color: $color_dark_one,
      weight: 600,
      align: center,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    text-align: left;
    font-size: 12px;
  }
  @include mq(large_laptop) {
    font-size: 14px;
  }
}

#footer_form_right {
  flex-basis: 509px;
  flex-shrink: 0;
  padding:0 25px;
  max-width: 580px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 700px;
  }
  @include mq(small_laptop) {
    padding:0;
    margin-top:80px;
  }
  @include mq(large_laptop) {
    flex-basis:539px;
  }
  @include mq(small_monitor) {
    margin-top: 133px;
    margin-left:0;
    margin-right:0;
    flex-basis:719px;
  }
  .gform_wrapper {
    margin-top: 20px;
    ul {
      list-style: none;
      text-align: left;
      @include mq(small_tablet) {
        @include flex(space-between, null, null, wrap);
      }
      li {
        width: 100%;
        label {
          display: none;
        }
        input,
        textarea {
          width: 100%;
          border-radius: 6px;
          border: 2px solid transparent;
          box-shadow: 0px 1px 10px #00000033;
          transition: border 150ms ease-in-out;
          padding: 16px;
          margin-bottom: 15px;
          @include type(
            (
              size: 16px,
              spacing: 0.4px,
              family: $primaryfont,
              color: $color_dark_one,
            )
          );
          @include mq(small_tablet) {
            padding: 24px 20px;
          }
          &:focus {
            border: 2px solid $color_bright_two;
          }
        }
        textarea {
          height: 166px;
        }
      }
      li#field_1_1,
      li#field_1_2 {
        @include mq(small_tablet) {
          width: 49%;
        }
      }
    }
    .gform_footer {
      display: inline-block;
      position: relative;
      z-index: 1;
      margin-top: 39px;
      @include mq(small_tablet) {
        margin-top: 25px;
      }
      @include mq(small_laptop) {
        float: right;
      }
      @include mq(small_monitor) {
        margin-top: 50px;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
      &:before,
      &:after {
        content: "";
        display: block;
        border-radius: 6px;
        z-index: -1;
        @include box(100%);
        @include abs(0, null, null, 0);
      }
      &:before {
        background: $color_gradient_one;
      }
      &:after {
        background: $color_bright_two;
        opacity: 0;
        transition: all 150ms ease-in-out;
      }
      input[type="submit"] {
        background: transparent;
        border: none;
        padding: 20px 30px;
        cursor: pointer;
        @include type(
          (
            size: 16px,
            spacing: 2.4px,
            family: $primaryfont,
            color: $color_lite_one,
            weight: 800,
            transform: uppercase,
          )
        );
        @include mq(small_monitor) {
          font-size: 18px;
          padding: 23px 30px;
        }
      }
    }
    .gfield_description,
    .validation_message {
      margin-bottom: 15px;
      @include type(
        (
          size: 12px,
          spacing: 2px,
          family: $primaryfont,
          color: $color_bright_two,
          weight: 800,
          transform: uppercase,
        )
      );
    }
  }
}


#footer_bottom {
  background:$color_gradient_two;
  width:100%;
  padding: 46px 24px 40px;
  @include mq(small_tablet) {
    padding: 52px 0px 20px;
  }
  @include mq(small_laptop) {
    padding: 69px 75px 30px;
  }
  @include mq(large_laptop) {
    padding: 95px 90px 30px;
  }
  @include mq(small_monitor) {
    padding: 95px 205px 30px;
  }
}


#copyright {
  padding-top:30px;
  border-top: 2px solid $color_lite_four;
  @include mq(small_tablet) {
    margin-top: 25px;
    padding-top: 25px;
  }
  @include mq(small_laptop) {
    margin-top: 5px;
    margin-left:-75px;
    padding-left:35px;
    padding-right:35px;
    width:100vw;
  }
  @include mq(large_laptop) {
    padding-left:50px;
    margin-left:-90px;
    padding-right:50px;
  }
  @include mq(small_monitor) {
    margin-left:-205px;
  }
}

#copyright_inner {
  max-width: 320px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width:100%;
  }
  @include mq(small_laptop) {
    @include flex(space-between,center);
  }
  @include mq(small_monitor) {
    max-width:1920px;
    @include margin_lr;
  }
  ul {
    list-style: none;
    li {
      display: inline;
      @include type (
        (
          size: 15px,
          spacing: 0.75px,
          height: 24px,
          family: $primaryfont,
          color: $color_lite_one 
        )
      );
      @include mq(small_tablet) {
        font-size:14px;
      }
      @include mq(small_monitor) {
        font-size:15px;
      }
      &:after {
        content:"|";
        display:inline-block;
        margin:0 4px 0 6px;
      }
      &:last-of-type {
        &:after {
          display:none;
        }
      }
      a { 
        color:$color_lite_one;
        text-decoration: none;
        transition:all 150ms ease-in-out;
        &:hover {
          text-decoration:underline;
        }
      }
    }
  }
  a#ilawyer {
    display:inline-block;
    margin-top: 14px;
    svg {
      path {
        fill:#fff
      }
    }
  }
}