footer {
  text-align: center;
}

#footer_form_wrapper {
  background: $color_lite_two;
  padding: 55px 25px;
  .gform_wrapper {
    margin-top:20px;
    ul {
      list-style: none;
      text-align: left;
      li {
        width:100%;
        label {
          display: none;
        }
        input,textarea {
          width:100%;
          border-radius:6px;
          border:2px solid transparent;
          box-shadow: 0px 1px 10px #00000033;
          transition:border 150ms ease-in-out;
          padding:16px;
          margin-bottom:15px;
          @include type (
            (
              size: 16px,
              spacing: 0.4px,
              family: $primaryfont,
              color: $color_dark_one 
            )
          );
          &:focus {
            border:2px solid $color_bright_two;
          }
        }
        textarea {
          height:166px;
        }
      }
    }
  }
}

span#footer_form_title {
  display: block;
  @include type(
    (
      size: 36px,
      spacing: 0.9px,
      height: 42px,
      family: $secondaryfont,
      color: $color_dark_one,
      weight: 700,
    )
  );
  &:after {
    content: "";
    display: block;
    background: $color_bright_one;
    margin-top: 25px;
    @include box(100%, 2px);
  }
}


#footer_desc {
  margin: 25px 0 0;
  @include type (
    (
      size: 18px,
      height: 28px,
      family: $primaryfont,
      color: $color_dark_two
    )
  );
  a {
    color:$color_dark_two;
    text-decoration:none;
    font-weight:800;
  }
  p {
    margin-bottom:25px;
    &:last-of-type {
      margin-bottom:0;
    }
  }
}


span#schedule {
  display:block;
  margin-top:35px;
  @include type (
    (
      size: 16px,
      spacing: 1.44px,
      height: 25px,
      family: $primaryfont,
      color: $color_bright_one,
      weight: 800,
      transform: uppercase
    )
  );
}
