footer {
  text-align: center;
}

#footer_form_wrapper {
  background: $color_lite_two;
  padding: 55px 25px;
}

span#footer_form_title {
  display: block;
  @include type(
    (
      size: 36px,
      spacing: 0.9px,
      height: 42px,
      family: $secondaryfont,
      color: $color_dark_one,
      weight: 700,
    )
  );
  &:after {
    content: "";
    display: block;
    background: $color_bright_one;
    margin-top: 25px;
    @include box(100%, 2px);
  }
}


#footer_desc {
  margin: 25px 0 0;
  @include type (
    (
      size: 18px,
      height: 28px,
      family: $primaryfont,
      color: $color_dark_two
    )
  );
  a {
    color:$color_dark_two;
    text-decoration:none;
    font-weight:800;
  }
  p {
    margin-bottom:25px;
    &:last-of-type {
      margin-bottom:0;
    }
  }
}


span#schedule {
  display:block;
  margin-top:35px;
  @include type (
    (
      size: 16px,
      spacing: 1.44px,
      height: 25px,
      family: $primaryfont,
      color: $color_bright_one,
      weight: 800,
      transform: uppercase
    )
  );
}
