////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////

// footer

$footer_bg_color: $color_dark_one;

// #consultation span.form_subtitle

$form_subtitle_color: $color_bright_one;

$form_subtitle_weight: 700;

$form_subtitle_size: 21px;
$form_subtitle_size_large_laptop: 18px;
$form_subtitle_size_small_laptop: 16px;
$form_subtitle_size_small_tablet: 18px;
$form_subtitle_size_xlarge_mobile: 16px;

$form_subtitle_line_height: 30px;
$form_subtitle_line_height_large_laptop: 26px;
$form_subtitle_line_height_small_tablet: 28px;
$form_subtitle_line_height_xlarge_mobile: 26px;

$form_subtitle_spacing: 3.15px;

// #consultation span.form_largeheader

$form_largetitle_color: $color_lite_one;

$form_largetitle_weight: 400;

$form_largetitle_size: 70px;
$form_largetitle_size_large_laptop: 55px;
$form_largetitle_size_small_laptop: 48px;
$form_largetitle_size_small_tablet: 48px;
$form_largetitle_size_xlarge_mobile: 44px;

$form_largetitle_line_height: 90px;
$form_largetitle_line_height_large_laptop: 60px;
$form_largetitle_line_height_small_laptop: 52px;
$form_largetitle_line_height_small_tablet: 56px;
$form_largetitle_line_height_xlarge_mobile: 48px;

// #consultation span.form_largeheader strong

$form_large_header_highlight: $color_bright_one;

// #consultation ul li:after

$form_asterisk_color: $color_bright_one;

$form_asterisk_weight: 700;

$form_asterisk_size: 20px;

// #consultation ul li input, #consultation ul li textarea

$form_input_color: $color_dark_two;

$form_input_weight: 400;

$form_input_size: 19px;
$form_input_size_small_laptop: 16px;

// #consultation .gform_footer, #consultation .gform_footer input[type="submit"]

$form_submit_weight: 500;

$form_submit_size: 25px;
$form_submit_size_large_laptop: 23px;
$form_submit_size_small_laptop: 20px;
$form_submit_size_xlarge_mobile: 18px;

$form_submit_spacing: 0.63px;

// #consultation span.required

$form_required_color: $color_bright_one;

$form_required_size: 18px;
$form_required_size_small_laptop: 14px;

$form_required_spacing: 1.8px;

// #consultation .gfield_description, #consultation .validation_message

$error_color: $color_bright_one;

$error_weight: 500;

$error_size: 15px;

// .copyright

$copyright_bg_color: $color_dark_two;

// .copyright_left

$copyright_text_color: $color_dark_three;
$copyright_text_color_hover: $color_bright_one;

$copyright_text_weight: 400;

$copyright_text_size: 14px;
$copyright_text_size_large_laptop: 14px;
$copyright_text_size_small_laptop: 12px;
$copyright_text_size_small_tablet: 14px;

$copyright_text_line_height: 22px;
$copyright_text_line_height_large_laptop: 20px;
$copyright_text_line_height_small_tablet: 21px;

// a.ilawyer svg path

$ilawyer_logo_color: $color_dark_three;
