#section_three {
  padding: 60px 25px 25px;
  @include mq(small_tablet) {
    padding: 72px 60px 25px;
  }
  @include mq(small_laptop) {
    padding: 78px 75px 25px;
  }
}


#sec_three_inner {
  @include flex();
}


#sec_three_left {
  flex-grow:1;
}

h1.sec_three_header {
padding-bottom:40px;
 @include type (
   (
     size: 36px,
     spacing: 0,
     height: 42px,
     family: $secondaryfont,
     color: $color_dark_one,
     weight: 700
    )
 ); 
 @include mq(small_tablet) {
   @include quick_type(60px,70px,null);
 }
 &:after {
   content:"";
   display: block;
   background:$color_bright_one;
   margin-top: 28px;
   @include box(100%, 2px);
   @include mq(small_tablet) {
    margin-top: 42px;
   }
 }
}


#sec_three_right {
  display: none;
  @include mq(small_tablet) {
    display:block;
    margin-top:85px;
    margin-bottom: 90px;
  }
  @include mq(small_laptop) {
    flex-shrink:0;
    flex-basis:365px;
    margin-left: 53px;
    margin-top: 16px;
  }
}


.sec_three_attorney {
  text-align: center;
  margin-bottom: 110px;
  @include mq(small_laptop) {
    margin-bottom: 80px;
  }
  &:last-of-type {
    margin-bottom:0px;
    span.sec_three_att_subtitle {
      max-width: 520px;
    }
  }
}

span.sec_three_att_title {
  display: block;
  margin-top:40px;
  @include type (
    (
      size: 25px,
      family: $secondaryfont,
      color: $color_dark_two,
      weight: 700
    )
  );
  @include mq(small_laptop) {
    font-size: 25px;
    margin-top: 29px;
  }
}

span.sec_three_att_subtitle {
  max-width: 420px;
  display: block;
  margin: 28px auto 0;
  @include type (
    (
      size: 18px,
      spacing: 1.44px,
      height: 25px,
      family: $primaryfont,
      color: $color_bright_one,
      weight: 800,
      align: center,
      transform: uppercase
    )
  );
  @include mq(small_laptop) {
    max-width: 350px;
    @include quick_type(16px,22px,null);
  }
  &:after {
    content:"";
    display:block;
    margin:35px auto 0;
    background:$color_lite_four;
    @include box(200px,1px);
    @include mq(small_laptop) {
      margin: 30px auto 0;
    }
  }
}

span.sec_three_att_quote {
  margin:25px auto 39px;
  display: block;
  max-width: 430px;
  @include type (
    (
      size: 19px,
      height: 32px,
      family: $secondaryfont,
      color: $color_dark_one,
      weight: 500 
    )
  );
  @include mq(small_laptop) {
    max-width: 350px;
  }
}

.attorney_image_one_wrapper {
  img {
    margin:0 auto;
    border-radius: 50%;
    @include image();
    @include mq(small_tablet) {
      @include box(155px);
    }
  }
}