
#tesimonial_wrapper {
  padding:40px 25px;
}


.tesimonial_inner {
  text-align: center;
  
  svg {
    display: block;
    margin-bottom:15px;
    @include margin_lr;
  }
  span {
    display: block;
  }
}


.testimonial_descr {
  margin-top:20px;
  @include type (
    (
      size: 16px,
      height: 33px,
      family: $primaryfont,
      color: $color_dark_three
    )
  );
}


.testimonial_quote {
  @include type (
    (
      size: 25px,
      spacing: 0.35px,
      height: 35px,
      family: $secondaryfont,
      color: $color_dark_two,
      weight: 700 
    )
  );
}

.testimonial_name {
  @include type (
    (
      size: 14px,
      spacing: 2px,
      family: $primaryfont,
      color: $color_dark_three,
      weight: 800,
      transform: uppercase 
    )
  );
  &:before {
    content:"";
    display:block;
    background:$color_bright_one;
    margin:25px auto 30px;
    @include box(54px,2px);
  }
}

#testimonial_bottom {
  margin:40px 0 0;
}

.testimonial_single {
  margin-bottom:50px;
}

.testimonial_col {
  &:last-of-type {
    .testimonial_single {
      &:last-of-type {
        margin-bottom:0;
      }
    }
  }
}

.testimonial_single {
  text-align: center;
  svg {
    display:block;
    @include margin_lr;
  }
}